.tag-button {
  cursor: pointer;
}

.tag:has(.tag-remove-button[data-focus-visible]),
.tag-toggle[data-focus-visible],
.tag-button[data-focus-visible] {
  outline: none;
  position: relative;
  --offset: calc(var(--sds-size-stroke-border) * 2);
  &::before {
    content: "";
    border-radius: calc(var(--border-radius) + var(--offset));
    bottom: calc(-1 * var(--offset));
    box-shadow: 0 0 0 var(--global-focus-ring-size)
      var(--global-focus-ring-color);
    left: calc(-1 * var(--offset));
    position: absolute;
    right: calc(-1 * var(--offset));
    top: calc(-1 * var(--offset));
  }
}

.tag-remove-button {
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  padding: 0;
}

.tag {
  --border-radius: var(--sds-size-radius-full);
  align-items: center;
  background-color: var(--tag-background-color);
  border-radius: var(--border-radius);
  color: var(--tag-color);
  display: inline-flex;
  font: var(--sds-font-body-base);

  gap: var(--sds-size-space-300);
  justify-content: center;
  line-height: 1;
  padding: var(--sds-size-space-200) var(--sds-size-space-200);
  white-space: nowrap;

  .icon {
    --icon-color: var(--tag-icon);
  }
}

.tag-scheme-brand {
  --tag-color: var(--sds-color-text-accent-on-accent);
  --tag-icon: var(--sds-color-icon-accent-on-accent);
  --tag-background-color: var(--sds-color-background-accent-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-background-accent-hovered);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-accent-on-accent-tertiary);
    --tag-icon: var(--sds-color-icon-accent-on-accent-tertiary);
    --tag-background-color: var(--sds-color-background-accent-tertiary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(
        --sds-color-background-neutral-tertiary-hovered
      );
    }
  }
}
.tag-scheme-danger {
  --tag-color: var(--sds-color-text-error-on-error);
  --tag-icon: var(--sds-color-icon-error-on-error);
  --tag-background-color: var(--sds-color-background-error-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-background-error-hovered);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-error-on-error-secondary);
    --tag-icon: var(--sds-color-icon-error-on-error-secondary);
    --tag-background-color: var(--sds-color-background-error-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(
        --sds-color-background-error-secondary-hovered
      );
    }
  }
}
.tag-scheme-positive {
  --tag-color: var(--sds-color-text-success-on-success);
  --tag-icon: var(--sds-color-icon-success-on-success);
  --tag-background-color: var(--sds-color-background-success-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-background-success-hovered);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-success-on-success-secondary);
    --tag-icon: var(--sds-color-icon-success-on-success-secondary);
    --tag-background-color: var(--sds-color-background-success-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(
        --sds-color-background-success-secondary-hovered
      );
    }
  }
}
.tag-scheme-warning {
  --tag-color: var(--sds-color-text-warning-on-warning);
  --tag-icon: var(--sds-color-icon-warning-on-warning);
  --tag-background-color: var(--sds-color-background-warning-default);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-background-warning-hovered);
  }

  &.tag-variant-secondary {
    --tag-color: var(--sds-color-text-warning-on-warning-secondary);
    --tag-icon: var(--sds-color-icon-warning-on-warning-secondary);
    --tag-background-color: var(--sds-color-background-warning-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(
        --sds-color-background-warning-secondary-hovered
      );
    }
  }
}
.tag-scheme-neutral {
  --tag-color: var(--sds-color-text-neutral-default);
  --tag-icon: var(--sds-color-icon-neutral-default);
  --tag-background-color: var(--sds-color-background-neutral-tertiary);

  &[data-hovered],
  &:has(.tag-remove-button[data-hovered]) {
    --tag-background-color: var(--sds-color-background-neutral-tertiary-hovered);
  }

  &.tag-variant-secondary {
    --tag-background-color: var(--sds-color-background-neutral-secondary);

    &[data-hovered],
    &:has(.tag-remove-button[data-hovered]) {
      --tag-background-color: var(
        --sds-color-background-neutral-secondary-hovered
      );
    }
  }
}

.tag-toggle {
  --tag-color: var(--sds-color-text-accent-tertiary);
  --tag-icon: var(--sds-color-icon-accent-tertiary);
  --tag-background-color: var(--sds-color-background-accent-tertiary);
  cursor: pointer;
  gap: var(--sds-size-space-200);
  outline: none;
  &[data-selected] {
    --tag-color: var(--sds-color-text-accent-on-accent);
    --tag-icon: var(--sds-color-icon-accent-on-accent);
    --tag-background-color: var(--sds-color-background-accent-default);
  }
}

.tag-toggle-list {
  display: flex;
  gap: var(--sds-size-space-200);
}

.tag-toggle-group {
  display: flex;
  flex-direction: column;
  gap: var(--sds-size-space-200);
}
