.icon {
  --icon-color: var(--sds-color-icon-accent-default);
  --svg-fill-color: var(--icon-color);
  height: var(--icon-diameter);
  width: var(--icon-diameter);
}

.icon-size-12 {
  --icon-diameter: 12px;
}
.icon-size-16 {
  --icon-diameter: 16px;
}
.icon-size-24 {
  --icon-diameter: 24px;
}
.icon-size-32 {
  --icon-diameter: 32px;
}
